ul{
    list-style-type: none;
    margin: 0;
    background-color: #72a333;
    overflow: hidden;
}
li{
    float: left;

}
li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;

}
li a:hover{
    background-color: black;
}