h2{
    color: black;
    text-align: center;
}
th,td{
    border: 2px solid chartreuse;
      padding: 10px;
    font-family: arial,sans-serif;
}

table{
    width: 100%;
    border-collapse: collapse;

}
